@using Microsoft.AspNetCore.Identity
@model BeerShop.ViewModels.DetailViewModel

@inject SignInManager<IdentityUser> SignInManager
@{
    var imagePath = Model.Beer.ImageUrl ;

}
<h3 class="my-5">
    @Model.Beer.Name
</h3>

<div class="row gx-5">
    <img src="~/@imagePath" alt="@Model.Beer.Name" class="img-fluid col-2"/>
    <div class="col-7">
        <h4>@Model.Beer.Description</h4>
        <h3 class="pull-right">@Model.Beer.Price.ToString("c")</h3>
        @if (Model.Beer.InStock)
        {
            <div class="addToCart">
                <p>Disponible</p>
                <button class="btb btn-secondary">
                    ¡Pide tu cerveza ya!
                </button>
            </div>
        }
        else
        {
            <p>Esta cerveza no se encuentra disponible</p>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <br/>
           <p><a asp-controller="Beer" asp-action="DeleteBeer" asp-route-id=@Model.Beer.Id ><button class="btn btn-danger" >Eliminar esta cerveza</button></a></p>
            <br />
            <a asp-controller="Beer" asp-action="UpdateBeer" asp-route-id=@Model.Beer.Id><button class="btn btn-light">Actualiza esta cerveza</button></a>
        }else{
            <p>Para actualizar o eliminar un producto debes <a id="login" asp-area="Identity" asp-page="/Account/Login">hacer login</a></p>
            <p> Si no tienes una cuenta, puedes <a id="register" asp-area="Identity" asp-page="/Account/Register">registrarte aquí</a></p>
        }
    </div>
</div>