@model BeerShop.ViewModels.CategoryCreateViewModel
<form asp-action="Create" method="post" role="form">
    <h3 class="my-5">
        Add a new category to the list
    </h3>

    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="Category.Name" class="form-label"></label>
                <input asp-for="Category.Name" class="form-control" />
            </div>
            <div class="col-12">
                <label asp-for="Category.Description" class="form-label"></label>
                <input asp-for="Category.Description" type="textarea" class="form-control" />
            </div>
           


        </div>
        <div class="mt-2">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-secondary" value="Add" />
            </div>
        </div>
    </div>
</form>